.additional-goods__list {
  list-style: none;
  // padding: 20px;
  margin: 0;
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $basic-black;
  border-bottom: 1px solid $special-grey;
  padding: 0 0 35px 0;
  margin: 25px 0 0 0;
}

.additional-goods__item {
  border-bottom: 1px solid $special-grey;
  padding-bottom: 25px;
}

.additional-goods__subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin: 13px 139px 13px 0;
}

.additional-goods__info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 0;
}

.additional-goods__button {
  color: $basic-white;
  background-color: $basic-green;
  padding: 10px 109px;
  margin: 0 0 15px 0;
  &:hover {
    background-color: $basic_green-2;
  }
  &:active {
    color: $basic-white-opacity;
    background-color: $basic_green-2;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__list {
    padding: 0;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 37px 0 37px;
    padding: 0 0 65px 26px;
  }

  .additional-goods__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 26px 39px 26px 26px;
    margin: 0 32px 0 38px;
  }

  .additional-goods__button {
    padding: 6px 286px;
    margin: 0;
  }

  .additional-goods__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .additional-goods__info {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__container {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  .additional-goods__title {
    margin: 0 0 0 0;
    padding: 0 0 81px 0;
  }

  .additional-goods__list {
    margin: 0 40px 65px 0;
  }

  .additional-goods__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0 0 0 0;
  }

  .additional-goods__subtitle {
    margin: 25px 0 27px 0;
  }

  .additional-goods__info {
    margin: 25px 0 27px 40px;
  }

  .additional-goods__button {
    padding: 10px 80px;
    margin: 16px  0 16px 77px;
  }
}
