.additional-gift {
  background-color: $basic-green;
  background-image: url("../img/gift-background-mobile.jpg");
  background-repeat: no-repeat;
  padding: 53px 61px 43px 58px;
  margin-top: 39px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/gift-background-mobile@2x.jpg");
    background-size: contain;
  }
}

.additional-gift__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  margin: 0;
  text-align: center;
}

.additional-gift__icon {
  display: block;
  margin: 0 auto 53px;
}

@media (min-width: $tablet-width) {
  .additional-gift {
    padding: 57px 124px 60px 78px;
    margin-top: 59px;
    background-image: url("../img/gift-background-tablet.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    max-width: 506px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-background-tablet@2x.jpg");
    }
  }

  .additional-gift__icon {
    display: block;
    margin: 0;
    width: 80px;
    height: 82px;
  }

  .additional-gift__description {
    max-width: 161px;
    text-align: left;
    align-items: baseline;
    margin: 14px 0 9px 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-gift {
    background-image: url("../img/gift-background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 51px 43px 33px 41px;
    margin: 0;
    max-width: 161px;
    display: block;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-background-desktop@2x.jpg");
    }
  }

  .additional-gift__description {
    margin: 59px 0 0 0;
    text-align: center;
  }

  .additional-gift__icon {
    text-align: center;
    margin: 0 auto 53px;
    width: 80px;
    height: 82px;
  }
}
