.additional-goods__container {
  display: flex;
  flex-direction: column;
}

.additional-goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additional-goods__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $basic-black;
  padding: 0 30px 0 0;
  margin: 24px 0 34px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $basic-white;
  max-width: 226px;

  &::after {
    content: "";
    position: absolute;
    top: 60%;
    width: 100vw;
    height: 2px;
    background: $basic-green;
    z-index: -1;
  }
}

.additional-goods__item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 17px 0;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }
}

.additional-goods__quantity {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
  margin: 0 auto 0 0;
}

.additional-goods__price {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

.additional-goods__subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin: 13px 0 13px 0;
  width: 100%;
}

.additional-goods__button {
  color: $basic-white;
  background-color: $basic-green;
  padding: 10px 109px;
  margin: 15px 0 0 0;
  text-decoration: none;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    color: $basic-white-opacity;
    background-color: $basic_green-2;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__container {
    margin-top: -10px;
  }

  .additional-goods__list {
    padding: 0;
  }

  .additional-goods__title {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    padding: 0 30px 0 37px;
    margin: 0 0 80px 0;
    max-width: 338px;

    &::before {
      content: "";
      position: absolute;
      top: 60%;
      right: 100%;
      width: 100vw;
      height: 2px;
      background: $basic-green;
      z-index: -1;
    }
  }

  .additional-goods__item {
    align-items: baseline;
    border: 1px solid $special-grey;
    border-bottom: 0;
    padding: 26px 38px 26px 38px;

    &:nth-child(1) {
      border-top: 1px solid $special-grey;
    }
  }

  .additional-goods__button {
    padding: 9px 285px;
    margin: 0;
  }

  .additional-goods__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 27px 0;
    width: auto;
  }

  .additional-goods__quantity {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 auto;
  }

  .additional-goods__price {
    margin-left: 0;
    width: 95px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__holder {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 80px;
  }

  .additional-goods__title {
    margin: 0 0 79px 0;
    padding: 0 35px 0 0;

    &::before {
      content: "";
      position: absolute;
      top: 60%;
      right: 110%;
      width: 100vw;
      height: 2px;
      background: $basic-green;
      z-index: -1;
    }
  }

  .additional-goods__list {
    margin: 0;
  }

  .additional-goods__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: baseline;
    padding: 17px 0 14px 0;
    border: none;
    border-top: 1px solid $special-grey;
    max-width: 895px;
  }

  .additional-goods__subtitle {
    width: 245px;
    margin: 0 80px 0 0;
  }

  .additional-goods__button {
    padding: 10px 92px;
    text-align: center;
    position: relative;
    top: -2px;
  }

  .additional-goods__quantity {
    width: 245px;
  }

  .additional-goods__price {
    width: 50px;
    margin-left: -8px;
  }

  .additional-goods__item:nth-child(2) .additional-goods__price {
    margin-left: -17px;
  }
}
