.additional-goods__container {
  display: flex;
  flex-direction: column;
}

.additional-goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $basic-black;
  padding: 0;
  margin: 25px 0 38px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.additional-goods__item {
  padding-bottom: 25px;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }
}

.additional-goods__subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin: 13px 139px 13px 0;
}

.additional-goods__info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 0;
}

.additional-goods__button {
  color: $basic-white;
  background-color: $basic-green;
  padding: 10px 109px;
  margin: 0 0 15px 0;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    color: $basic-white-opacity;
    background-color: $basic_green-2;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__list {
    padding: 0;

  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 65px 37px;
  }

  .additional-goods__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 26px 3px 26px 38px;
  }

  .additional-goods__button {
    padding: 6px 286px;
    margin: 0;
  }

  .additional-goods__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .additional-goods__info {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__holder {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 80px;
  }

  .additional-goods__title {
    margin: 0 0 81px 0;
    padding: 0;
  }

  .additional-goods__list {
    margin: 0;
  }

  .additional-goods__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-items: center;
    padding: 15px 0 17px 0;
  }

  .additional-goods__info {
    gap: 68px;
    margin: 0;
  }

  .additional-goods__button {
    padding: 10px 84px;
    text-align: center;
  }
}
