.catalog {
  padding: 10px 20px 20px 20px;
  border-top: 1px solid $basic-grey-neutral;
}

.catalog__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: $basic-black;
  margin: 0;
  padding: 15px 0 41px 0;
  display: block;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    bottom: 0;
    height: 1px;
    background: $special-grey-2;
    width: calc(100% + 40px);
  }
}

.catalog__list {
  position: relative;
  list-style: none;
  padding: 0 0 35px 0;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    bottom: 0;
    height: 1px;
    background: $special-grey-2;
    width: calc(100% + 40px);
  }
}

.catalog__item {
  position: relative;
  padding: 45px 0 0 0;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: -30px;
    height: 1px;
    background: $special-grey-2;
    width: calc(100% + 40px);
  }

  &:nth-child(1) {
    padding: 0;
  }
}

.catalog__item-holder {
  display: flex;
}

.catalog__caption {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  text-decoration: none;
  display: block;
  width: 76px;
}

.catalog__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.catalog__information {
  margin-left: auto;
  margin-bottom: 30px;
  width: 143px;
}

.catalog__info-defining {
  margin: 0;
}

.catalog__button {
  color: $basic-white;
  background-color: $basic-green;
  padding: 10px 109px;
  margin-bottom: 25px;
  text-align: center;
  width: 280px;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    color: $basic-white-opacity;
    background-color: $basic_green-2;
  }
}

.catalog__more {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-plus.svg");
    top: -50px;
    left: 122px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
}

.catalog__more-product {
  font-size: 16px;
  line-height: 20px;
  color: $basic-grey-dark;
  text-transform: uppercase;
  margin: 105px 37px 8px 37px;
}

.catalog__slogan {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin: 0 30px 21px 29px;
}

.catalog__button-more {
  text-decoration: none;
  color: $special-dark-grey;
  background-color: $basic-grey;
  padding: 10px 94px;
  margin: 0 0 25px 0;
  width: 280px;

  &:hover {
    color: $special-dark-grey;
    background-color: $special-grey-2;
  }

  &:active {
    color: $special-dark-grey-opacity;
  }

  ::after {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    bottom: 0;
    height: 1px;
    background: $special-grey-2;
    width: calc(100% + 40px);
  }
}


@media (min-width: $tablet-width) {
  .catalog {
    padding: 10px 0 76px 0;
    border: none;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    border-bottom: none;
    padding: 0;
    margin: 30px 0 83px 0;

    &::after {
      display: none;
    }
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 160px 0 0 0;

    &::after {
      display: none;
    }
  }

  .catalog__item {
    background-color: $basic-grey;
    margin: 0 0 59px 0;
    padding: 0 36px 40px 36px;
    border-bottom: none;
    min-height: 390px;

    &::after {
      display: none;
    }

    &:nth-child(1) {
      padding: 0 36px 40px 36px;
    }
  }

  .catalog__item-holder {
    display: flex;
    flex-direction: column;
  }

  .catalog__image-link {
    position: relative;
    height: 142px;
  }

  .catalog__image {
    position: absolute;
    left: 50%;
    bottom: 17px;
    transform: translateX(-50%);
  }

  .catalog__caption {
    font-size: 20px;
    line-height: 24px;
    width: 130px;
    margin: 0 20px 21px 59px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .catalog__information {
    margin: 0 0 33px 0;
    width: 252px;
  }

  .catalog__button {
    margin: 0 0 0 0;
    padding: 10px 93px;
    text-align: center;
  }

  .catalog__description {
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid $special-grey;
    padding: 7px 0 9px 0;
    display: flex;
  }

  .catalog__info-defining {
    margin: 0;
  }

  .catalog__more-icon {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 60px;
    height: 60px;
  }

  .catalog__more {
    background-color: $basic-white;
    border: 2px solid $basic-grey;
    padding: 39px 30px 39px 30px;
    width: 260px;
    min-height: 330px;
    margin: 0 0 59px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-plus-tablet.svg");
      top: 50px;
      left: 127px;
      width: 60px;
      height: 60px;
      margin: 0 auto;
    }
  }

  .catalog__more-product {
    font-size: 20px;
    margin: 121px 57px 23px 57px;
    text-align: center;
  }

  .catalog__slogan {
    font-size: 16px;
    line-height: 18px;
    margin: 0 40px 87px 52px;
    text-align: center;
  }

  .catalog__button-more {
    border: none;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    width: 248px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 32px 0 80px 0;
  }

  .catalog__container {
    padding: 0 0 75px 0;
  }

  .catalog__title {
    margin: 0 0 83px 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 80px 0 0 0;
  }

  .catalog__item {
    padding: 0 30px 40px 35px;
    margin: 0 0 40px 0;
    min-height: 391px;

    &:nth-child(4) {
      margin-right: 0;
    }

    &:nth-child(8) {
      padding: 40px 20px 40px 20px;
      margin-right: 0;
      width: 201px;
    }

    &:nth-child(1) {
      padding: 0 30px 40px 35px;
    }
  }

  .catalog__item-holder {
    margin-bottom: 15px;
  }

  .catalog__caption {
    width: 130px;
    margin: 0 10px 21px 31px;
    text-align: center;
  }

  .catalog__information {
    width: 180px;
  }

  .catalog__button {
    padding: 10px 53px;
  }

  .catalog__button-more {
    padding: 10px 0;
    width: 169px;
  }

  .catalog__more-product {
    font-size: 20px;
    margin: 0 0 40px 0;
  }

  .catalog__more {
    width: 168px;
    min-height: 240px;
    padding: 145px 35px 40px 38px;
    margin: 0 0 40px 0;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-plus-tablet.svg");
      top: 40px;
      left: 89px;
      width: 60px;
      height: 60px;
      margin: 0 auto;
    }
  }

  .catalog__slogan {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 86px 0;
  }
}
