.comments__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  margin: 0 100px 37px 0;
  padding: 0;
}

.comments__textarea {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #E7E7E7;
  resize: none;
  width: 280px;
  margin: 0 30px 40px 0;
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .comments__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 100px 75px 0;
  }

  .comments__textarea {
    width: 631px;
    text-align: left;
    margin: 0 0 65px 0;
    padding: 10px 10px 0 19px;
  }
}

@media (min-width: $desktop-width) {
  .comments__textarea {
    width: 1180px;
    text-align: left;
    margin: 0 0 65px 0;
    padding: 10px 10px 0 19px;
  }
}
