.contacts-info {
  border: none;
  padding: 0;
  margin: 0 0 0 0;
}

.contacts-info__title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  margin: 0 90px 36px 0;
  padding: 28px 14px 0 0;
  background-color: $basic-white;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    top: 55%;
    width: 100vw;
    height: 2px;
    background: $basic-green;
    z-index: -1;
  }
}

.contacts-info__list {
  list-style: none;
  margin: 0 0 9px 0;
  padding: 0;
}

.contacts-info__item {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
  display: flex;

  &:nth-child(1) .contacts-info__input {
    width: 219px;
    margin: 0 0 14px 10px;
  }

  &:nth-child(2) .contacts-info__input {
    width: 204px;
    margin: 0 0 14px 9px;
  }
}

.contacts-info__item label {
  margin-top: 12px;
}

.contacts-info__input {
  width: 219px;
  height: 45px;
  border: 1px solid $basic-grey-steel;
  box-sizing: border-box;
  padding: 17px 50px 14px 14px;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: $special-dark-grey;
    text-transform: uppercase;
  }

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    border: 1px solid $special-dark-grey;
  }

  &:invalid {
    border: 2px solid $status_error;
  }
}

.contacts-info__item:nth-child(1) input:focus + .contacts-info__icon {
  stroke: $basic-green;
}

.contacts-info__item:nth-child(1) input:invalid + .contacts-info__icon {
  stroke: $status_error;
}

.contacts-info__item:nth-child(2) input:focus + .contacts-info__icon {
  fill: $basic-green;
}

.contacts-info__item:nth-child(2) input:invalid + .contacts-info__icon {
  fill: $status_error;
}

.contacts-info__item:nth-child(1) .contacts-info__icon {
  stroke: $special-dark-grey-2;
  fill: none;

  &:hover {
    stroke: $basic-green;
  }
}

.contacts-info__item:nth-child(2) .contacts-info__icon {
  fill: $special-dark-grey-2;

  &:hover {
    fill: $basic-green;
  }
}

.contacts-info__item .contacts-info__icon {
  position: relative;
  border: none;
  outline: none;
  background-color: $basic-white;

  &--email {
    top: 15px;
    right: 35px;
    width: 20px;
    height: 15px;
  }

  &--phone {
    top: 12px;
    right: 34px;
    width: 20px;
    height: 21px;
  }
}

@media (min-width: $tablet-width) {
  .contacts-info {
    margin: 0 0 65px 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .contacts-info__title {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    padding: 0 20px 0 0;
    margin: 0 100px 56px 0;
    background-color: $basic-white;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      right: 108%;
      height: 2px;
      width: 100vw;
      background-color: $basic-green;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      width: 100vw;
      height: 2px;
      background: $basic-green;
      z-index: -1;
    }
  }

  .contacts-info__list {
    padding: 0;
    margin-bottom: 0;
  }

  .contacts-info__item {
    font-size: 20px;
    line-height: 30px;

    &:nth-child(1) .contacts-info__input {
      width: 551px;
      padding: 10px 20px;
      margin: 0 0 14px 19px;
    }

    &:nth-child(2) .contacts-info__input {
      width: 535px;
      padding: 10px 20px;
      margin: 0 0 0 14px;
    }
  }

  .contacts-info__item label {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-info {
    margin: 0 0 53px 0;
  }

  .container-questionary {
    display: flex;
  }

  .contacts-info__list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  .contacts-info__title {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px 0 0;
    margin: 0 100px 76px 0;
    background-color: $basic-white;
  }

  .contacts-info__item {
    &:nth-child(1) .contacts-info__input {
      width: 486px;
      padding: 16px 20px 10px 20px;
      margin: 0 0 14px 22px;
    }

    &:nth-child(2) .contacts-info__input {
      width: 472px;
      padding: 16px 20px 10px 16px;
      margin: 0 0 14px 17px;
    }
  }

  .contacts-info__item .contacts-info__icon {
    &--email {
      top: 18px;
      right: 36px;
      width: 20px;
      height: 15px;
    }

    &--phone {
      top: 15px;
      right: 36px;
      width: 20px;
      height: 21px;
    }
  }

  .contacts-info__input {
    min-height: 52px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .contacts-info__item label {
    margin-top: 12px;
  }
}
