.contacts {
  padding: 28px 19px 28px 19px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: $basic-grey-dark;
  text-transform: uppercase;
  margin: 0;
  max-width: 140px;
}

.contacts__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;
  margin: 0;
  max-width: 140px;
}


@media (min-width: $tablet-width) {
  .contacts {
    padding: 0;
  }

  .contacts__wrapper {
    padding: 66px 43px 59px 41px;
    gap: 240px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 22px;
    max-width: 170px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 160px;
  }

  .contacts__text span {
    display: block;
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 40px;
    padding: 66px 85px 61px 77px;
    background-color: $basic-white;
    gap: 78px;
  }

  .contacts__title {
    font-weight: normal;
    line-height: 23px;
  }

  .contacts__text {
    margin-left: 0;
    text-align: left;
  }

  .contacts__text span {
    display: block;
    margin-top: 15px;
  }
}
