.container-questionary {
  border: none;
  padding: 0;
}

.container-questionary-selection {
  border-top: 1px solid $basic-grey-neutral;
  border-bottom: 1px solid $basic-grey-neutral;
}

@media (min-width: $tablet-width) {
  .container-questionary {
    margin: 0 0 75px 0;
  }

  .container-questionary-selection {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .container-questionary {
    display: flex;
  }
}
