.contacts {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 28px 19px 26px 19px;
}

.contacts__container {
  background-color: #F2F2F2;
}

.contacts__title {
  font-size: 16px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
}

.contacts__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 62px 72px 51px 71px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 21px;
    margin-right: 140px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    margin-left: 148px;
    text-align: right;
  }

  .contacts-form {
    background-color: $basic-grey;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 62px 89px 51px 76px;
  }

  .contacts__title {
    margin-right: 87px;
  }

  .contacts__text {
    margin-left: 0;
  }
}
