.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0 20px 0;
}

.copyright__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-decoration: none;
  text-align: left;
  margin-top: 10px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin: 0;
    display: flex;
  }

  .copyright__link {
    margin-top: 5px;
  }

  // .copyright__link:hover {
  //   color: $special-dark-grey;
  // }

  // .copyright__link:active {
  //   color: $special-dark-grey-opacity;
  // }

  // .copyright__link:hover + .copyright__icon-link .copyright__icon {
  //   fill: $basic-green;
  // }

    // &:hover + .copyright__icon .copyright__icon {
    //   fill: $basic-green;
    // }

    // &:active + .copyright__icon path {
    //   fill: $basic-green-opacity;
    // }

  .copyright__icon {
    fill: $special-grey-3;
  }

  .copyright__icon-link {
    outline: none;
    text-align: right;

    &:hover {
      .copyright__icon {
        fill: $basic-green;
      }
    }

    &:active {
      .copyright__icon {
        fill: $basic-green-opacity;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin: 0;
  }

  .copyright__link {
    margin-top: 5px;
  }
}
