.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.copyright__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
  text-align: left;
  margin-top: 10px;

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.copyright__icon {
  text-align: right;

  &:hover path {
    fill: #68B738;
  }

  &:active path {
    fill: rgba(104, 183, 56, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin: 0 0 0 80px;
    display: flex;
  }

  .copyright__link {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding: 0;
    margin: 0 0 0 250px;
    display: flex;
  }

  .copyright__link {
    margin-top: 5px;
  }
}
