.copyright {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  padding: 20px 0 20px 0;
}

.copyright__link {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  margin-top: 10px;
}

.copyright__icon {
  position: relative;
  top: 2px;
  fill: $special-grey-3;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin: 0;
    display: flex;
  }

  .copyright__link:active {
    color: $special-dark-grey-opacity;
  }

  .copyright__icon {
    margin-left: 5px;
    margin-top: -3px;
  }

  .copyright__link {
    outline: none;
    text-align: right;
    margin-top: 0;

    &:hover {
      .copyright__icon {
        fill: $basic-green;
      }
    }

    &:active {
      .copyright__icon {
        fill: $basic-green-opacity;
      }
    }

    &:focus {
      .copyright__icon {
        outline: 2px solid $basic-black;
      }
    }
  }

  .copyright__text {
    position: relative;
    margin-top: 6px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin: 0;
  }

  .copyright__text {
    margin-right: 10px;
    margin-top: 3px;
    // left: -11px;
  }

  .copyright__icon {
    margin-top: 0;
  }
}
