.features-program {
  padding: 6px 21px 48px 21px;
}

.features-program__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  text-align: left;
  margin: 0 25px 40px 0;
}

.features-program__list {
  margin: 0;
  padding: 0;
}

.features-program__item {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  list-style: none;
  margin: 0 0 26px 79px;

  &:nth-child(4) {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    background-repeat: no-repeat;
  }
}

.features-program__item--material::after {
  position: absolute;
  content: "";
  top: 14px;
  left: -62px;
  width: 30px;
  height: 32px;
  background-image: url("../img/features-1.svg");
  background-repeat: no-repeat;
}

.features-program__item--form::after {
  position: absolute;
  content: "";
  top: 11px;
  left: -65px;
  width: 30px;
  height: 32px;
  background-image: url("../img/features-2.svg");
  background-repeat: no-repeat;
}

.features-program__item--replacement::after {
  position: absolute;
  content: "";
  top: 13px;
  left: -62px;
  width: 30px;
  height: 32px;
  background-image: url("../img/features-3.svg");
  background-repeat: no-repeat;
}

.features-program__item--changes::after {
  position: absolute;
  content: "";
  top: 11px;
  left: -66px;
  width: 30px;
  height: 32px;
  background-image: url("../img/features-4.svg");
  background-repeat: no-repeat;
}

.features-program__item--changes br {
  display: none;
}

@media (min-width: $tablet-width) {
  .features-program {
    margin: 0 auto;
    padding: 45px 0 45px 0;
    border-bottom: 1px solid $basic-grey-silver;
  }

  .features-program__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 32px 0;
  }

  .features-program__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-program__item {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 36px 0;
    padding: 152px 0 57px 0;
    width: 247px;

    &:nth-child(even) {
      margin-left: 137px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 39px;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &--material {
      background-image: url("../img/features-background-1@1x.png");
      background-repeat: no-repeat;
      background-position: 123px 40px;
      background-size: 74px 228px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/features-background-1@2x.png");
      }
    }

    &--form {
      background-image: url("../img/features-background-2@1x.png");
      background-repeat: no-repeat;
      background-position: 122px 38px;
      background-size: 113px 229px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/features-background-2@2x.png");
      }
    }

    &--replacement {
      background-image: url("../img/features-background-3@1x.png");
      background-repeat: no-repeat;
      background-position: 124px 37px;
      background-size: 112px 232px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/features-background-3@2x.png");
      }
    }

    &--changes {
      background-image: url("../img/features-background-4@1x.png");
      background-repeat: no-repeat;
      background-position: 124px 40px;
      background-size: 120px 226px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/features-background-4@2x.png");
      }
    }
  }

  .features-program__item--material::after {
    position: absolute;
    content: "";
    top: 66px;
    left: 27px;
    width: 30px;
    height: 32px;
  }

  .features-program__item--form::after {
    position: absolute;
    content: "";
    top: 63px;
    left: 25px;
    width: 30px;
    height: 32px;
  }

  .features-program__item--replacement::after {
    position: absolute;
    content: "";
    top: 64px;
    left: 28px;
    width: 30px;
    height: 32px;
  }

  .features-program__item--changes::after {
    position: absolute;
    content: "";
    top: 62px;
    left: 24px;
    width: 30px;
    height: 32px;
  }

  .features-program__item--changes br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .features-program {
    padding: 0 0 0 0;
    border-bottom: none;
  }

  .features-program__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 32px 0;
  }

  .features-program__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .features-program__item {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 151px 0 57px 0;
    width: 245px;

    &:nth-child(even) {
      margin-left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 39px;
      left: 0;
    }
  }
}
