.form__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__required-field {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
}

.form__button {
  color: #FFFFFF;
  background-color: #68B738;
  padding: 7px 44px;
}
