.form__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0 54px 39px 0;
}

.form__required-field {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: center;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: 100%;
  color: $basic-white;
  background-color: $basic-green;
  padding: 10px 77px;
  align-items: center;
  margin-bottom: 21px;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    color: $basic-white-opacity;
    background-color: $basic_green-2;
  }
}

.form__additionally {
  border: none;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 0 37px 0 39px;
  }

  .form__description {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    margin: 0 308px 71px 0;
  }

  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__wrapper .form__button {
    font-size: 20px;
    line-height: 0;
    margin: 0;
    padding: 26px 45px 26px 45px;
    max-width: 282px;
  }

  .form__required-field {
    font-size: 16px;
    padding: 0;
    margin: 15px 0 0 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0;
  }

  .form__wrapper {
    gap: 81px;
  }

  .form__description {
    margin: 0 869px 72px 0;
  }

  .form__wrapper .form__button {
    max-width: 568px;
    margin: 0 0 0 0;
  }

  .form__required-field {
    padding: 0;
    margin: 15px 0 0 0;
  }
}
