.logo {
  position: relative;
  border-bottom: 1px solid $basic-grey-neutral;
  left: 0;
  top: -5px;
  margin: 0;
  text-align: center;
  padding: 41px 0 27px 0;
  display: block;
}

.logo__icon {
  fill: $basic-grey-dark;
}

@media (min-width: $tablet-width) {
  .logo {
    padding: 0;
    border-bottom: none;
    margin: 0;
    margin-top: 11px;
    text-align: left;
  }

  .logo:hover .logo__icon {
    fill: $special-black-opacity;
  }

  .logo:active .logo__icon {
    fill: $special-dark-grey-opacity;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    margin: 0;
    top: 6px;
    left: -1px;
    text-align: left;
  }
}
