.logo {
  position: relative;
  border-bottom: 1px solid $basic-grey-neutral;
  margin: 0;
  text-align: center;
  padding: 39px 0 32px 0;
  display: block;
}


@media (min-width: $tablet-width) {
  .logo {
    padding: 0;
    border-bottom: none;
    margin: 0;
  }

  .logo__icon-link {
    fill: $basic-grey-dark;
  }

  .logo:hover .logo__icon {
    fill: $special-black-opacity;
  }

  .logo:active .logo__icon {
    fill: $special-dark-grey-opacity;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    margin: 0;
  }
}
