.logo {
  position: relative;
  border-bottom: 1px solid $basic-grey-neutral;
  left: 0;
  margin: -4px 0 0 0;
  text-align: center;
  padding: 41px 0 26px 0;
  display: block;
}

.logo__icon {
  fill: $basic-grey-dark;
}

@media (min-width: $tablet-width) {
  .logo {
    padding: 0;
    border-bottom: none;
    margin: 8px 0 0 0;
    text-align: left;
    display: flex;
    justify-self: left;
  }

  .logo:hover .logo__icon {
    fill: $special-black-opacity;
  }

  .logo:active .logo__icon {
    fill: $special-dark-grey-opacity;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    margin: 0;
    top: 6px;
    left: -1px;
    text-align: left;
  }
}
