.main-nav {
  width: 100%;
  background-color: $basic-white;
}

.main-nav__toggle {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: $basic-white;
  padding: 0;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 16px;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  left: auto;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 34px;
    right: 10px;
    width: 24px;
    height: 2px;
    background-color: $basic-black;
    margin-right: 10px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__wrapper {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 70px;
  z-index: 10;
  min-height: 80vh;
  width: 100%;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item:nth-child(1) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    height: 1px;
    background: $special-grey-2;
    width: calc(100% + 40px);
  }
}

.main-nav__link {
  text-decoration: none;
  text-align: center;
  color: $basic-black;
  display: block;
  padding: 22px 0 24px 0;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    height: 1px;
    background: $special-grey-2;
    width: calc(100% + 40px);
    z-index: 1;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: relative;
    top: 11px;
    right: 0;
    left: 0;
    min-height: 20vh;
    background-color: $basic-white;
    text-align: center;
    z-index: 0;
  }

  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav__item--active .main-nav__link {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0 73px;
  }

  .main-nav__item {
    justify-content: space-between;
    display: block;
    font-size: 18px;
    line-height: 24px;

    &:nth-child(1) .main-nav__link {
      margin: 0 16px 0 0;
    }

    &:nth-child(2) .main-nav__link {
      margin: 0 18px 0 17px;
    }

    &:nth-child(3) .main-nav__link {
      margin: 0 0 0 18px;
    }
  }

  .main-nav__item:nth-child(1) {
    &::before {
      display: none;
    }
  }

  .main-nav__item--active .main-nav__link {
    padding: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 35px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: $basic-green;
    }
  }

  .main-nav__list .main-nav__link {
    border: none;
    padding: 0;

    &::after {
      display: none;
    }

    &:hover {
      color: $basic-light-black-opacity-1;
    }

    &:active {
      color: $basic-light-black-opacity-2;
    }
  }
}


@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: auto;
  }

  .main-nav__item {
    z-index: 3;
    font-size: 20px;
    line-height: 29px;

    &:nth-child(1) .main-nav__link {
      margin: 0 17px 10px 17px;
    }

    &:nth-child(2) .main-nav__link {
      margin: 0 10px 10px 10px;
    }

    &:nth-child(3) .main-nav__link {
      margin: 0 0 10px 10px;
    }
  }

  .main-nav__list-index .main-nav__link {
    font-weight: normal;
    color: $basic-white;

    &:hover {
      color: $basic-white-opacity;
    }

    &:active {
      color: $basic-white-opacity-2;
    }

    &::before {
      background-color: $basic-white;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}
