.main-nav {
  width: 100%;
  background-color: $basic-white;
}

.main-nav__toggle {
  border: none;
  background-color: red;
}

.main-nav__wrapper {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  text-decoration: none;
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    justify-content: space-between;
    margin: 24px 10px  0 10px;
  }
}


@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .main-nav {
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .main-nav__item {
  }

  .main-nav__toggle {
    display: none;
  }
}
