.nutrition-program {
  font-size: 24px;
  line-height: 37px;
}

.nutrition-program__list {
  list-style: none;
  padding: 10px 20px 20px 20px;
  margin: 0;
}

.nutrition-program__item {
  background-color: $basic-grey;
  margin: 0;
  padding: 21px 20px 18px 19px;

  &:nth-child(1) {
    margin-bottom: 20px;
  }
}

.nutrition-program__title {
  text-transform: uppercase;
  font-weight: normal;
  margin: 9px 0 29px 91px;
}

.nutrition-program__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0 13px 23px 0;
  border-bottom: 1px solid $basic-grey-neutral;
}

.nutrition-program__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $basic-black;
  text-transform: uppercase;
  margin: 0;

  &:hover {
  }

  &:active {
    color: $basic-black-opacity;
  }
}

@media (min-width: $tablet-width) {
  .nutrition-program__list {
    padding: 30px;
  }

  .nutrition-program__item {
    padding: 77px 62px 53px 52px;
  }

  .nutrition-program__title {
    margin: 0 0 24px 0;
  }

  .nutrition-program__text {
    color: $basic-black;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 52px 0;
    border-bottom: none;
  }

  .nutrition-program__link {
    font-size: 20px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .nutrition-program__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    padding: 82px 0 71px 0;
  }

  .nutrition-program__item {
    &:nth-child(1) {
      margin-bottom: 0;
      padding: 77px 55px 59px 52px;
    }

    &:nth-child(2) {
      padding: 77px 92px 59px 33px;
    }
  }

  .nutrition-program__title {
    margin: 0 0 73px 180px;
  }

  .nutrition-program__text {
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    margin: 0 0 27px 0;
  }

  .nutrition-program__link {
    font-size: 20px;
    margin: 0;
  }
}
