.nutrition-program {
  font-size: 24px;
  line-height: 37px;

}

.nutrition-program__list {
  list-style: none;
  padding: 22px 20px;
  margin: 0px;
}

.nutrition-program__item {
  background-color: $basic-grey;
  margin: 0;
}

.nutrition-program__item:nth-child(1) {
  margin-bottom: 20px;
}

.nutrition-program__title {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 30px 70px 0 91px;
}


.nutrition-program__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  padding: 22px 33px 23px 20px;
  border-bottom: 1px solid #D9D9D9;
  margin: 0;
}

.nutrition-program__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $basic-black;
  text-transform: uppercase;
  padding: 18px 174px 22px 19px;

  &:hover {
  }

  &:active {
    color: $basic-black-opacity;
  }
}

@media (min-width: $tablet-width) {
  .nutrition-program__list {
    padding: 30px;
  }

  .nutrition-program__title {
    margin: 0;
    padding: 77px 229px 24px 53px;
  }

  .nutrition-program__text {
    color: $basic-black;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0 17px 52px 53px;
  }

  .nutrition-program__link {
    font-size: 20px;
    padding: 0 548px 57px 52px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition-program__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 82px 110px;
  }

  .nutrition-program__item:nth-child(1) {
    margin-bottom: 0;
    margin-right: 80px;
  }

  .nutrition-program__title {
    margin: 0;
    padding: 77px 192px 73px 214px;
  }

  .nutrition-program__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0 51px 27px 52px;
    color: $basic-black;
  }

  // .nutrition-program__item:nth-child(2)  .nutrition-program__text {
  //   padding: 0 61px 27px 52px;
  // }

  .nutrition-program__link {
    font-size: 20px;
    padding: 0 350px 59px 52px;
  }
}
