.page-footer {
  background-color: $basic-grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 19px;
}

.page-footer__inner {
  width: auto;
}

.page-footer__holder {
  background-color: $basic-white;
}

.page-footer__holder-color {
  background-color: $basic-grey;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: grid;
    max-width: 708px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 137px;
    padding: 55px 30px 35px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    display: grid;
    max-width: 1220px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 57px 0 40px 0;
    gap: 380px;
  }

  .page-footer__holder {
    position: relative;
  }
}
