.page-footer__container {
  display: flex;
  flex-direction: column;
  padding: 39px 20px 22px 19px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    display: grid;
    max-width: 1220px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 47px 10px 12px 10px;
  }
}
