.page-footer__container {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 37px 30px 38px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 37px 110px 38px 110px;
  }
}
