.page-body {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}


@media (min-width: $desktop-width) {
  .page-body__header-wrapper,
  .page-body__main-wrapper {
    max-width: 1220px;
    margin: auto;
  }
}
