.page-body {
  font-family: "Oswald", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.page-body__container {
  
}

@media (min-width: $desktop-width) {
  .page-body__container {
    max-width: 1220px;
    margin: auto;
  }
}
