.result-using__container {
  font-size: 14px;
  line-height: 20px;
  height: 705px;
  background-color: $basic-grey-light;
  padding: 27px 20px 20px 20px;
}

.result-using__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 33px 0;
}

.result-using__text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0 0 25px 0;
}

.result-using__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result-using__image {
  margin-bottom: 15px;
}

.result-using__about-price {
  text-transform: uppercase;
  text-align: center;
  margin: 0 20px 0 50px;
}

.result-using__button-slider {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background-color: $basic-grey-light;
  margin: 0;
  padding: 0;
}

.result-using__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-using__slider__image-after {
  display: none;
}

.result-using__slider-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 23px 45px 25px 47px;
}

@media (min-width: $tablet-width) {
  .result-using__container {
    background-color: $basic-white;
    position: relative;
  }

  .result-using__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 63px 0;
  }

  .result-using__text {
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    margin: 0 26px 54px 0;
  }

  .result-using__image {
    padding: 0;
  }

  .result-using__description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 59px 0;
  }

  .result-using__about-price {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding: 0;
    margin-left: 30px;
  }

  .result-using__slider {
    // padding: 20px 20px;
    background-color: $basic-grey-light;
  }

  .result-using__slider__image-before {
    display: flex;
    justify-self: center;
    margin: 0 0 0 220px;
  }

  .result-using__slider-container {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    margin: 23px 45px 25px 47px;
    padding: 0;
  }

  .result-using__button-slider {
    font-size: 20px;
    border-bottom: 1px dotted $basic-grey-neutral;
  }

  .result-using__scale {
    width: 428px;
    height: 6px;
    background-color: $special-grey;
    border-radius: 6px;
    margin: 13px 10px 0 10px;
  }

  .result-using__toggle {
    width: 8px;
    height: 8px;
    border: 9px solid $basic-white;
    background-color: $basic-green;
    box-shadow: 0 2px 0 0 $special-grey;
    border-radius: 50%;
    margin: -15px 0 0 200px;
  }
}

@media (min-width: $desktop-width) {
  .result-using__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 70px 76px 0;
  }

  .result-using {
    background-color: $basic-grey;
  }

  .result-using__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $basic-grey;
    padding: 20px 0 20px 0;
  }

  .result-using__text {
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    margin: 0 134px 69px 0;
  }

  .result-using__description {
    display: flex;
    justify-content: start;
    margin: 0 134px 60px 0;
  }

  .result-using__image {
    &:nth-child(1) {
      margin-right: 20px;
    }

    margin-bottom: 60px;

  }

  .result-using__about-price {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding: 0;
    margin: 0;
  }

  .result-using__about-price span {
    margin-right: 60px;
  }

  .result-using__slider {
    min-height: 400px;
  }
}

