.selection-program {
  padding: 27px 20px 20px 20px;
  border-top: 1px solid $basic-grey-neutral;
}

.selection-program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin: 0 0 37px 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .selection-program {
    padding: 0 45px 72px 39px;
    // padding: 50px 30px 72px 30px;
    border-top: none;
  }

  .selection-program__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 51px 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .selection-program__container {
    padding: 0;
  }

  .selection-program {
    padding: 37px 0 82px 0;
  }

  .selection-program__title {
    margin: 0 0 56px 0;
    padding: 0;
  }
}
