.slogan {
  position: relative;
  top: -8px;
  padding: 10px 20px 0 20px;
  background-size: 100% 306px;
}

.slogan::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 302px;
  background-image: url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.slogan::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  min-width: 320px;
  width: 100%;
  height: 302px;
  background-color: $basic-green-light;
}

.slogan__item {
  position: relative;
  z-index: 2;
  margin: 27px 0 60px 0;
  font-size: 36px;
  line-height: 14px;
  color: $basic-white;
}

.slogan__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 -10px 0;
}

.slogan__lead {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 32px 0 30px;
}

.slogan__link {
  position: relative;
  top: 241px;
  z-index: 2;
  display: block;
  order: 2;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  color: $basic-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $basic-green;
  padding: 11px 73px 11px 73px;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    background-color: $basic_green-2;
    color: $basic-white-opacity;
  }
}

.slogan__image {
  position: relative;
  top: -73px;
  z-index: 2;
  display: block;
  order: 1;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 3px;
}

@media (min-width: $tablet-width) {
  .slogan {
    position: relative;
    top: 0;
    z-index: 2;
    padding: 32px 30px 20px 30px;

    &::before,
    &::after {
      display: none;
    }
  }

  .slogan__item {
    background-color: $basic-white;
    background-image: none;
    margin: 29px 0 60px 0;
  }

  .slogan__title {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
    margin: 0 207px 41px 87px;
  }

  .slogan__lead {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
    margin: 0 337px -5px 88px;
  }

  .slogan__image {
    top: -89px;
    order: 2;
    width: 709px;
    height: 609px;
    margin: 0 auto;
  }

  .slogan__link {
    position: relative;
    top: -6px;
    z-index: 3;
    display: block;
    order: 2;
    font-size: 20px;
    line-height: 20px;
    margin: 0 382px 0 82px;
    padding: 17px 26px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .slogan {
    padding: 60px 20px 20px 20px;
  }

  .slogan__item {
    max-width: 600px;
    z-index: 1;
    background-color: $basic-white;
  }

  .slogan__title {
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 39px 79px;
    padding-top: 78px;
  }

  .slogan__image {
    position: absolute;
    top: -4px;
    right: 20%;
    // left: 115px;
    z-index: 3;
    order: 2;
    width: 553px;
    height: 500px;
    margin: 0 auto;
  }

  .slogan__lead {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
    margin: 0 0 52px 79px;
  }

  .slogan__link {
    width: 191px;
    margin: 0 0 0 82px;
    padding: 16px 26px;
  }
}
