.social {
  position: relative;
  list-style: none;
  border-bottom: 1px solid $basic-grey-neutral;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin: 0;
  padding: 19px 0 15px 0;
  text-align: center;
}

.social__icon {
  fill: $special-grey-3;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    border-bottom: none;
    gap: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 34px;

    &::after {
      display: none;
    }
  }

  .social__item {
    width: 55px;
    text-align: center;
  }

  .social__link--vkontakte svg {
    width: 30px;
    height: 20px;
  }

  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook svg {
    width: 13px;
    height: 27px;
    position: relative;
    left: -8px;
    top: 2px;
  }

  .social__link {
    outline: none;

    &:hover {
      .social__icon {
        fill: $basic-green;
      }
    }

    &:active {
      .social__icon {
        stroke: $basic-green-opacity;
      }
    }

    &:focus {
      .social__icon {
        outline: 2px solid $basic-black;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding: 0 5px 0 4px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .social__item {
    width: 48px;
  }

  .social__link--facebook svg {
    position: relative;
    left: -1px;
    top: 2px;
  }
}
