.social {
  position: relative;
  list-style: none;
  // border-bottom: 1px solid $basic-grey-neutral;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0 60px 21px 80px;

  &::after {
    content: "";
    position: absolute;
    top: 40px;
    left: -80px;
    width: 280px;
    height: 1px;
    background-color: $basic-grey-neutral;
  }
}

.social__link {
  &:hover path {
    // fill: $basic-green;
    stroke: $basic-green;
  }

  &:active path {
    // fill: $basic-green-opacity;
    stroke: $basic-green-opacity;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    border-bottom: none;
    margin-left: 65px;
    margin-right: 45px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding: 0;
    border-bottom: none;
    margin: 0;
    // margin-left: 110px;
    // margin-right: 110px;
  }
}

