.social {
  position: relative;
  list-style: none;
  border-bottom: 1px solid $basic-grey-neutral;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin: 0;
  padding: 20px 0 21px 0;
  text-align: center;
}



@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    border-bottom: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &::after {
      display: none;
    }
  }

  .social__link--vkontakte svg {
    width: 29px;
    height: 17px;
  }

  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook svg {
    width: 13px;
    height: 27px;
  }

  .social__icon {
    fill: $special-grey-3;
  }

  .social__link {
    outline: none;

    &:hover,
    &:focus {
      .social__icon {
        stroke: $basic-green;
      }
    }

    &:active {
      .social__icon {
        stroke: $basic-green-opacity;
      }
    }
  }

  // .social__item:hover .social__icon {
  //   stroke: $basic-green;
  // }

  // .social__icon:hover path {
  //   fill: $basic-green;
  // }
}

@media (min-width: $desktop-width) {
  .social {
    padding: 0;
    border-bottom: none;
    margin: 0;
  }
}

