.stats__text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0 0 25px 0;
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}

.stats__item {
  width: 124px;
  min-height: 64px;
  text-align: center;
}

.stats__amount {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid $special-grey;
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 14px 0 16px 0;
}

.stats__amount-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $special-dark-grey;
  width: 77px;
  margin: 0 auto;
  margin-top: -19px;
  padding: 0 6px 0 4px;
}

.stats__about-price {
  text-transform: uppercase;
  text-align: center;
  margin: 15px 20px 0 50px;
}

@media (min-width: $tablet-width) {
  .stats__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0 26px 54px 0;
  }

  .stats__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .stats__list {
    display: flex;
    gap: 42px;
    width: 366px;
  }

  .stats__item {
    width: 162px;
    min-height: 72px;
  }

  .stats__item:nth-child(1) .stats__amount-description {
    width: 97px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .stats__item:nth-child(2) .stats__amount-description {
    width: 127px;
  }

  .stats__amount {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 0 19px 0;
  }

  .stats__amount-description {
    font-size: 14px;
    line-height: 14px;
  }

  .stats__about-price {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding: 0;
    margin: 0;
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .stats__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0 182px 69px 0;
  }

  .stats__wrapper {
    display: flex;
    flex-direction: column;
    width: 366px;
    gap: 50px;
  }

  .stats__list {
    display: flex;
    flex-wrap: wrap;
  }

  .stats__about-price {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    width: 327px;
    display: flex;
    justify-content: space-between;
    margin-left: -35px;
  }
}
