// Colors

$basic-green: #68B738;
$basic-green-opacity: rgba(104, 183, 56, 0.3);
$basic-grey: #F2F2F2;
$special-grey-2: #EBEBEB;
$special-grey: #CDCDCD;
$special-grey-light: #E5E5E5;
$special-grey-3: #666666;
$special-dark-grey: #444444;
$special-dark-grey-opacity: rgba(68, 68, 68, 0.3);
$special-dark-grey-2: #222222;
$status_error: #FF8282;
$basic_green-2: #5EAA2F;

$basic-black: #000000;
$basic-black-opacity: rgba(0, 0, 0, 0.3);
$special-black-opacity:  rgba(0, 0, 0, 0.8);
$special-dark-grey-opacity:  rgba(0, 0, 0, 0.6);
$basic-white: #FFFFFF;
$basic-white-opacity: rgba(255, 255, 255, 0.3);
$basic-grey-light: #EAEAEA;
$basic-grey-silver: #E6E6E6;
$basic-grey-steel: #E7E7E7;
$basic-grey-dark: #111111;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;


//Content width

$content-mobile: 320px;
$content-tablet: 768px;
$content-desktop: 1440px;
